<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
</head>
<body>
    <h1>Products</h1>
    <a href="/products/new">Add New Product</a>
    <ul>
        <li th:each="product : ${products}">
            <span th:text="${product.name}">Product Name</span>
            <span th:text="${product.price}">Product Price</span>
            <a th:href="@{/products/{id}(id=${product.id})}">View</a>
        </li>
    </ul>
</body>
</html>
